<?xml version="1.0" encoding="UTF-8"?>
<Tl5 version="1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.telecinco.es/static/MDSVideo/xsd/tl5config.xsd">
    <video id="TL5VID20111005_0056" autoplay="false">
        <info>
            <skinColor bg="0x0355A2"/>
            <mosca position="TR">
                <url>http://www.telecinco.es/bbtfile/4026_20121003HyOBSk.png</url>
            </mosca>
            <title>
                <![CDATA[{{title|raw}}]]>
            </title>
            <sub_title>
                <![CDATA[{{subtitle|raw}}]]>
            </sub_title>
           
            <videoUrl scrubbing="{{scrubbing}}" multipleDef="false" rtmp="{{rtmp}}" >
                <link start="0" end="0"><![CDATA[{{url}}]]></link>
                <rtmp secure="false" live="true">
                    <url><![CDATA[{{channel}}]]></url>
                </rtmp>	
            </videoUrl>
        </info>
    </video>

</Tl5>