<div class="mds-footer div_footer mds_mds-footer">
    <div class="mds-mediaset-logos">

        <p>
            <a href="http://www.mediaset.es/" target="_parent" title="Mediaset" class="ico ico-mds">
                <span>Mediaset</span>
            </a>
        </p>

        <ul class="mds-mediaset-logos-ch cf">
            <li class="item">
                <a href="http://www.telecinco.es/" target="_parent" title="Telecinco" class="ico ico-tl5"><span>Telecinco</span></a>
            </li>
            <li class="item">
                <a href="http://www.cuatro.com/" target="_parent" title="Cuatro" class="ico ico-cuatro"><span>Cuatro</span></a>
            </li>
            <li class="item">
                <a href="http://www.telecinco.es/factoriadeficcion/" target="_parent" title="Factoria de ficción" class="ico ico-fac"><span>Factoria de ficción</span></a>
            </li>
            <li class="item">
                <a href="http://www.boing.es/" target="_parent" title="Boing" class="ico ico-boing"><span>Boing</span></a>
            </li>
            <li class="item">
                <a href="http://www.telecinco.es/energy/" target="_parent" title="Energy" class="ico ico-nrg"><span>Energy</span></a>
            </li>
            <li class="item">
                <a href="http://www.divinity.es/" target="_parent" title="Divinity" class="ico ico-div"><span>Divinity</span></a>
            </li>
            <li class="item">
                <a href="http://www.telecinco.es/bemad" target="_parent" title="Be Mad" class="ico ico-bmd"><span>Be Mad</span></a>
            </li>

        </ul>

    </div><!-- .mds-mediaset-logos -->

    <div class="mds-tx">


        <p class="balls_bk">
            <a href="http://www.telecinco.es/inversores/es/" target="_parent" title="{{ 'footer.corporate' | trans }}">
                {{ 'footer.corporate' | trans }}
            </a>
            | Copyright © Conecta 5 Telecinco, S. A. {{ "now"|date("Y") }}, {{ 'footer.rights' | trans }} 
            | <a href="{{ url('legal') }}" target="_parent" title="{{ 'footer.warning' | trans }}">{{ 'footer.warning' | trans }}</a> 
            | <a href="{{ url('legal') }}#ancla10" target="_parent" title="{{ 'footer.reserved' | trans }}">{{ 'footer.reserved' | trans }}</a>
            | <a href="mailto:{{ mailto }}" target="_parent" title="{{ 'footer.contact' | trans }}">{{ 'footer.contact' | trans }}</a> 
        </p>
    </div>

</div><!-- .mds-footer -->