{% extends 'base.html.twig' %}

{% trans_default_domain 'cookies' %}
{% block content %}
<p>
    <a name="uno" id="uno"/>
    {{ 'cookies.1' | trans }}
</p>
<p>
    <a name="dos" id="dos"/>
    {{ 'cookies.2' | trans }}
</p>
<p>
    <a name="tres" id="tres"/>
    {{ 'cookies.3' | trans }}
</p>
<p>
    <a name="cuatro" id="cuatro"/>
    {{ 'cookies.4' | trans }}
</p>
<p>
    <a name="cinco" id="cinco"/>
    {{ 'cookies.5' | trans }}
</p>
<p>
    <a name="seis" id="seis"/>
    {{ 'cookies.6' | trans }}
</p>
<p>
    <a name="siete" id="siete"/>
    {{ 'cookies.7' | trans }}
</p>
<p>
    <a name="ocho" id="ocho"/>
    {{ 'cookies.8' | trans }}
</p>
<p>
    <a name="nueve" id="nueve"/>
    {{ 'cookies.9' | trans }}
</p>
<p>
    <a name="diez" id="diez"/>
    {{ 'cookies.10' | trans }}
</p>


{% endblock %}